@import "./space.scss";

* {
  font-family: Roboto;
  font-style: normal;
}

.content {
  margin-top: 600px;
  margin-left: 900px;
}

.home {
  margin-top: 200px;
  margin-left: 50px;
}

.token-style {
  line-break: anywhere;
}
